# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\6th semester project\Save it here\Online_Attendance_System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
